/* Base */
body {
    font-size: 16px;
}

/* Title */
.title { 
    text-align: center;
}

/* Gameboard */
.gameBoard { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1rem auto;
    background-color: black;
}
.gameBoard__dashboard {
    flex: 1 100%;
    color: white;
 }
.gameBoard__hole { 
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.gameBoard__mound {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 29px;
    background: url(/assets/mole-hole.png);
    background-position: right 5px bottom 0;
    background-size: 95%;
    background-repeat: no-repeat;
    background-color: black;
}
.gameBoard__mole {
    height: 100%;
    background-image: url(/assets/mole.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top;
    transform: translate(0px, 77%);
    transition: 1s ease-in-out;
 }

/* Buttons */
.btn {
    padding: 1rem;
    border-radius: 5px;
}
.btn--start {
    background-color: teal;
}
.btn--stop {
    background-color: darkred;
}
.btn--reset {
    background-color: skyblue;
}

 /* Flexbox */
 .flex {
     display: flex;
 }
 .flex--spaceEvenly{
     justify-content: space-evenly;
 }

 /* Mobile */
@media only screen and (min-width: 600px) {
    .gameBoard {
        width: 400px;
    }
}